@charset "UTF-8";
/* CSS Document */


body{
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
}

h4{
	float:left;
}


header{
	width:100%;
	background:#FFF;
}


section{
	width:1000px;
	margin:auto;
	color:#F0F0F0;
}


.logo{
	float:left;
}


.logo-center{
	float:left;
	margin-left:100px;
}


.logo-rt{
	float:right;
	margin-top:27px;
	margin-right:20px;
}

.search{
	width:1000px;
	background:#039;
	height:45px;
	float:left;
	border-radius:5px;
	margin:auto;
}

.search h3{
	margin-top:15px;
	margin-left:15px;
	color:#FFF;
	float:left;
}


input{
	margin-left:20px;
	margin-top:10px;
	width:400px;
	float:left;
}


#go{
	width:40px;
	height:25px;
	color:#fff;
	background:#F63;
	border:none;
	float:left;
	margin-left:5px;
}


#icons-rt{
	width:450px;
	height:30px;
	float:right;
	margin-top:10px;
	margin-right:5px;
}


.iconRt{
	float:left;
	margin-left:5px;
	margin-right:5px;
	width:140px;
}


.iconRt h4{
	float:right;
	margin:0;
	padding:0;
	width:118px;
	border-right:solid 1px #36C;
	height:30px;
}


.CallUs{
	width:100%;
	margin:0px;
	padding:0px;
}


.infoRT{
	width:1000px;
	margin:auto;
}


.infoRT h3{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#666;	
	background:#CCC;
	width:300px;
	line-height:20px;
	margin-left:700px;
	position:absolute;
	margin-top:0;
	text-align:center;
	padding-top:2px;
	padding-bottom:2px;
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
}

.banner{
	width:100%;
	float:left;
	margin-top:10px;
}


.thinBanner{
	float:left;
	width:1000px;
}


center{
	width:100%;
	background:#EAEAEA;
	float:left;
}


aside{
	float:left;
	width:20%;
	margin-top:20px;
	padding:0;
}


.menuTitle1{
	float:left;
	width:100%;
	margin-top:10px;
	padding:0;
	background:#f9e4cb;
	padding-bottom:10px;
}


.menuTitle1 h1{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	border:1px solid #F90;
	line-height:40px;
	color:#996111;
	margin-top:0;
}


.menuTitle1 ul{
	list-style:none;
	margin-left:40px;
	padding:0;
}

.menuTitle1 ul li{
	float:left;
}


.menuTitle1 ul li a{
	text-decoration:none;
	color:#996111;
	line-height:25px;
	display:list-item;
	padding-left:15px;
	padding-right:20px;
}


.menuTitle1 ul li a:hover{
	color:#006;
}



article{
	float:right;
	width:800px;
}


#block1{
	float:left;
	width:790px;
	margin:0;
	padding:0;
}


.blocktitle{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	border:1px solid #F90;
	line-height:10px;
	color:#996111;
	background:#f9e4cb;
	margin-left:15px;
	margin-top:25px;
	text-align:left;
	padding-left:20px;
}


.PicBlock1{
	background:#f9e4cb;
	border:1px solid #F90;
	width:770px;
	height:350px;
	float:left;
	margin-left:15px;
	margin-top:20px;
}


.Row1-pic1{
	float:left;
	margin-left:5px;
	margin-right:5px;
	background:#fff;
	border:1px solid #999;
	width:22%;
	height:300px;
	margin-top:22px;
	margin-left:12px;
}


.blockBrand{
	background:#fff;
	border:1px solid #F90;
	width:770px;
	height:240px;
	float:left;
	margin-left:15px;
	margin-top:20px;
	margin-bottom:20px;
}


footer{
	width:100%;
	margin:auto;
}


#greyband{
	background:#999;
	width:100%;
	height:40px;
	float:left;
}

#greyband h2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
	float:left;
}



.greybandPic{
	float:right;
	width:52%;
	margin-top:4px;
}




#footerMiddle{
	background:#FFF;
	width:100%;
	height:300px;
	float:left;
}


.testimonials{
	float:left;
	width:25%;
}


.testimonials h2{
	border-bottom:#333 1px dotted;
	width:90%;
}


.testimonials img{
	float:left;
	margin-right:10px;
}


.testimonials p{
	float:left;
	width:220px;
}


.testimonials a{
	float:left;
	background:#006;
	color:#CCC;
	padding:10px 20px 10px 20px;
	border-radius:10px;
}


.NeedHelp{
	float:left;
	width:30%;
}


.NeedHelp h2{
    border-bottom:#333 1px dotted;
	width:90%;
}


.fetisePic{
	float:left;
	margin-top:20px;
}


.stayConnected{
	float:right;
}


.bottomBand1{
	background:#e3e3e3;
	width:100%;
	height:130px;
	float:left;
}


.Menubottom{
	width:1000px;
	margin:auto;
	height:150px;
	padding:0;
}


.menu1{
	float:left;
	margin-top:8px;
	padding:0px;
	margin-left:20px;
	border-right:#999 1px solid;
	width:120px;
}


.menu1 li{
	list-style:none;
	
}


.menu1 li a{
	line-height:15px;
	display:block;
}


.menu1 li a:hover{
	color:#09F;
}


.menu2{
	float:left;
	margin-top:8px;
	padding:0px;
	margin-left:20px;
	width:300px;
	border-right:#999 1px solid;
}


.menu2 li{
	list-style:none;
	float:left;
}


.menu2 li a{
	line-height:15px;
	display:block;
	padding-left:5px;
	padding-right:5px;
	border-right:solid 1px #999;
}

.menu2 li a:hover{
	color:#09F;
}

.bottomLogo{
	float:right;
	margin:10px;
	padding:10px;
}

.bottomLogo img{
	margin-left:20px;
	margin-right:20px;
}


#greyband2{
	background:#CCC;
	width:100%;
	height:40px;
	float:left;
}


.copyright{
	width:1000px;
	margin:auto;
	height:40px;
	padding:0;
}


.copyright h5{
	margin-left:20px;
	float:left;
}

.sitemap{
	float:right;
	width:200px;
}

.sitemap li{
	list-style:none;
	float:left;
}


.sitemap li a{
	line-height:15px;
	display:block;
	padding-left:5px;
	padding-right:5px;
	border-right:solid 1px #999;
}


.sitemap li a:hover{
	color:#09F;
}


.bottom{
	width:100%;
	height:30px;
	float:left;
}


.bottom-content{
	width:1000px;
	margin:auto;
	padding:0;
}


.bottom-content p{
	margin:0;
	padding:0;
	margin-top:5px;
}


.bottom-content img{
	position:absolute;
	margin-left:740px;
    padding:0;
}

.main_footer{
	width:1000px;
	margin:auto;
}
